* {
    margin:0;
    padding: 0;
    border: 0;
    list-style: none;
}
div{
    width: 300px;
    height: 300px;
    display: inline-block;
}

.cuadrado1{
    background-color: #ff886f;
}

.cuadrado2{
    background-color:#fd556e ;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -150px;
}

.cuadrado3{
    background-color:#b53765 ;
}